
        body {
            background-color: #f8f9fa;
        }
    
        #messageArea {
            height: 60vh;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
        }
    
        .message {
            padding: 10px;
            border-radius: 5px;
            display: inline-block;
            max-width: 80%;
        }
    
        .my-message {
            align-self: flex-end;
            background-color: #007bff;
            color: white;
            border-color: #007bff;
            margin: 10px 10px 10px auto;
        }
    
        .other-message {
            align-self: flex-start;
            background-color: #e9ecef;
            color: black;
            border-color: #e9ecef;
            margin: 10px auto 10px 10px;
        }
